<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Inicio</title>

  <!-- Tailwind CSS -->

  <!-- Estilos personalizados -->
  <link rel="stylesheet" href="/estilo.css" />

  <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:wght@100..900&display=swap" rel="stylesheet">

  
</head>
<body>
  <div class="div-fondo">
    <header id="encabezado">
      <div class="contenedor-navegacion">
        <div class="cn-lista-navegacion">
          <nav>
            <ul id="lista-navegacion">
              <li><a href="#inicio">INICIO</a></li>
              <li><a href="#funciones">FUNCIONES</a></li>
              <li><img style="height: 50px; width: 50px;" src="imagenes/tribunal.png"/></li>
              <li><a href="#nosotros">NOSOTROS</a></li>
              <li><a href="#contacto">CONTACTO</a></li>
            </ul>
          </nav>
        </div>
        
        <div class="div-boton-login">
          <button href="#login" id="boton-login">LOGIN</button>
        </div>
      </div>
    </header>

   <!-- Inicio -->
      <section id="inicio" style="margin-top: 25px;">
      <div class="div-inicio">
        <div class="di-titulo">
          <span >L E G A L</span>
        </div>
        <div class="di-subtitulo">
          <p>NO FIRMES NADA SIN CONSULTARNOS</p>
        </div>
      </div>
      <div class="contenedor-redes">
        <img src="imagenes/facebook.png"/>
        <img src="imagenes/instagram.png"/>
        <img src="imagenes/gorjeo.png"/>
        <img src="imagenes/whatsapp.png"/>
      </div>
    </section>
  </div>
  <!-- Header -->
  
  <!-- Footer -->
  <footer class="footer">
    <p>&copy; 2025 Keyla Bedon. Todos los derechos reservados.</p>
  </footer>

  <!-- JavaScript -->
  <script src="scripts.js"></script>
</body>
</html>